.badge {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.badge-sm {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.badge-cog {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    right: 17px;
    top: 36px;
}
